/* parliament page styles */

/* general styles -------------------------------------- */
.cursor-pointer { cursor: pointer; }
.pointer-cursor { cursor: pointer; }
.cursor-help    { cursor: help; }
.help-cursor    { cursor: help; }

.no-decoration  { text-decoration: none !important; }
