<!DOCTYPE html>
<html lang="en" ng-app="clusterboard">
  <head>
    <title>Moloch Cluster Board</title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS http://getbootstrap.com/ -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- FontAwesome http://fontawesome.io/ -->
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="clusterboard.css">

  </head>
  <body>
    <div ng-controller="ClusterboardController as $ctrl"
      class="container margined-bottom margined-top">

      <div class="row mt-4">
        <div class="col-md-12">
          <h1>
            <a class="btn btn-outline-primary pull-right cursor-pointer"
              ng-class="{'active':$ctrl.autoRefresh}"
              ng-click="$ctrl.toggleAutoRefresh()" data-toggle="tooltip"
              data-placement="bottom" title="Toggle auto refresh">
              <span class="fa fa-refresh"></span>
            </a>
            <img src="header_logo.png" style="vertical-align:bottom;"> Moloch
          </h1>
          <p class="lead">Do not taunt the Happy Moloch. Please use the Happy Moloch responsibly.</p>
        </div>
      </div>

      <div class="input-group">
        <span class="input-group-addon">
          <span class="fa fa-search"></span>
        </span>
        <input type="text" class="form-control" placeholder="Search clusters"
          ng-model="$ctrl.searchTerm" ng-model-options="{ debounce: 400 }">
      </div>

      <hr>

      <!-- group -->
      <div ng-repeat="group in $ctrl.clusterGroups" class="mb-4">
        <!-- group title -->
        <div class="row" ng-if="group.title && group.filteredClusters.length > 0">
          <div class="col-md-12">
            <h5 class="mb-1">{{::group.title}}</h5>
            <p class="lead" style="margin-bottom:.1rem;font-size:1rem;">
              {{::group.description}}
            </p>
          </div>
        </div> <!-- /group title -->
        <!-- clusters -->
        <ul class="list-group" class="row">
          <li ng-repeat="cluster in group.filteredClusters = (group.clusters | filter:$ctrl.searchTerm) track by $index"
            class="list-group-item list-group-item-action flex-column align-items-start"
            ng-class="{'list-group-item-light':cluster.disabled}">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">
                <a ng-if="!cluster.disabled"
                  class="no-decoration" ng-href="{{::cluster.url}}/sessions">
                  {{::cluster.title}}
                </a>
                <span ng-if="cluster.disabled">{{::cluster.title}}</span>
                <small class="text-muted" ng-if="cluster.multiviewer">
                  (multiviewer)
                </small>
                <small class="text-muted" ng-if="cluster.disabled">
                  (disabled)
                </small>
              </h5>
              <small ng-if="!cluster.disabled">
                <span ng-if="!cluster.multiviewer && !cluster.statsError">
                  <strong>{{cluster.deltaBPS || 0 | commaString}}</strong>
                  Bytes/Sec
                  &nbsp;|&nbsp;
                  <strong>{{cluster.deltaTDPS || 0 | commaString}}</strong>
                  Packet Drops/Sec
                  &nbsp;|&nbsp;
                </span>
                <span ng-if="!cluster.multiviewer && cluster.statsError">
                  <span class="fa fa-exclamation-triangle text-danger"></span>&nbsp;
                  <em class="text-danger">{{cluster.statsError}}</em>
                  &nbsp;|&nbsp;
                </span>
                <a ng-href="{{::cluster.url}}/stats" class="no-decoration"
                  data-toggle="tooltip" data-placement="right" title="Go to the Stats page">
                  view stats
                </a>
              </small>
            </div>
            <span ng-if="!cluster.disabled"
              class="badge badge-pill badge-secondary cursor-help pull-right"
              ng-class="{'badge-success':cluster.status === 'green','badge-warning':cluster.status === 'yellow','badge-danger':cluster.status === 'red'}"
              data-toggle="tooltip" data-placement="left" title="Moloch ES Status">
              {{cluster.status || cluster.healthError || '????'}}
            </span>
            <p class="text-muted small mb-1">{{::cluster.description}}</p>
          </li>
        </ul> <!-- /clusters -->
      </div> <!-- /group -->

    </div>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <!-- Angular -->
    <script src="node_modules/angular/angular.min.js"></script>
    <!-- Popper JS (required by bootstrap) -->
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="clusters.js"></script>
    <script src="clusterboard.js"></script>

  </body>
</html>
